<!-- Loop over each object in the projects array -->
{{#each posts as |post| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/posts/{{post.id}}">{{post.title}}</a>
    </h2>

    <p>Created by {{post.user.username}} on {{post.post_date}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.post_content}}
    </p>
  </div>
    {{#each post.comment as |comment|}}
    <div>
        <p> {{comment.comment_content}}</p>
        <p>Created by {{comment.user.username}} on {{comment.comment_date}}</p>
    </div>
    {{/each}}
</div>
{{/each}}